<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <div>
    <%= recipe.name %>
    <%= link_to 'Delete recipe', recipe_path(recipe), method: :delete, class: "btn btn-remove text-secondary"%>
  <% end %>
  </div>


<%= link_to "Add a new recipe", new_recipe_path, class:"btn btn-success" %>
